<h2>List of Classes</h2>

<%= form_tag  articles_path, method:"get" do%>
Class Name
<br>
<%=text_field_tag :title%>
<br>
Teacher
<br>
<%=text_field_tag :teacher%>
<br>
Place
<br>
<%=text_field_tag :place%>
<br>
Time
<br>
<%=text_field_tag :time%>
<br>
Degree
<br>
<%=text_field_tag :degree%>
<br>
<%=submit_tag "Search"%>
<%end%>

<% @articles.each do|article| %>
<p>
	<%= link_to article.title, article_path(article) %>
	<%= link_to "Edit Class", edit_article_path(article) %>
	<%= link_to "Delete Class", article_path(article), method:"delete" %>

</p>

<%end%>